 
.circleAuth-ui-button,
    .circleAuth-ui-button:hover{
        font-weight: 500;
        will-change: box-shadow;
        transition: box-shadow .2s cubic-bezier(0.4, 0, 1, 1), background-color .2s cubic-bezier(0.4, 0, 0.2, 1), color .2s cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
        cursor: pointer;
        text-decoration: none;
        vertical-align: middle;
    }


.circleaccess-callback-input{
    width:37.4em;
    min-height:39px!important;
}

.circleacces-nav-link{
   color: gray;
   margin-top: 24px;
   text-decoration: none;
   position: absolute;
 }

 .circleaccess-navbar-header{
    background-color:black;
    height:60px;
    width:100%;
    vertical-align:midle;
    display:flex;
    font-family:Nunito Sans;
 }

 .circleaccess-navbar-header .product{
    width:68%;
    display:flex
 }

 .circleaccess-navbar-header .title{
    font-size:18px;
    color:white;
    font-family:Nunito Sans;
    margin-top:20px;
    margin-left:20px;
 }

 .circleaccess-navbar-header img{
    padding-left:56px;
    height:36px;
    padding-top:12px
 }

  
 .circleaccess-copied{
    display: none; 
    font-size: 7px;
    position: absolute;
    padding-top: 4px;
    padding-left: 3px;
    color: green;
}
  
 .circleaccess-nav-link:hover{
    color: rgb(161, 160, 160);

 }

 .circleaccess-domains-input{
     min-width: 356px!important;

 }

 .circleacces-input-text{
    width:40em!important;
    min-height:39px!important;
 }

.circleaccess-select{
    min-height:39px!important;   
}
 
.circleaccess-icon-login-btn{
    border: none;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width: 22px;
    margin-left: 37px!important;
}
  
.tagify {
   box-shadow: 0 0 0 transparent;
   border-radius: 4px;
   border: 1px solid black!important;
   background-color: #fff;
}

.circleaccess-icon-delete{
    height: 18px!important;
    cursor: pointer;
}
   
 .circleaccess-description {
   font-size: 12px!important;
}
 
.login .error{
    border-left-color:#d63638
} 
 