 
.circleAuth-ui-button,
    .circleAuth-ui-button:hover{
        font-weight: 500;
        will-change: box-shadow;
        transition: box-shadow .2s cubic-bezier(0.4, 0, 1, 1), background-color .2s cubic-bezier(0.4, 0, 0.2, 1), color .2s cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
        cursor: pointer;
        text-decoration: none;
        vertical-align: middle;
    }


.circleaccess-callback-input{
    width:37.4em;
    min-height:39px!important;
}

.circleacces-nav-link{
   color: gray;
   margin-top: 24px;
   text-decoration: none;
   position: absolute;
 }

 .circleaccess-navbar-header{
    background-color:black;
    height:60px;
    width:100%;
    vertical-align:midle;
    display:flex;
    font-family:Nunito Sans;
 }

 .circleaccess-navbar-header .product{
    width:68%;
    display:flex
 }

 .circleaccess-navbar-header .title{
    font-size:18px;
    color:white;
    font-family:Nunito Sans;
    margin-top:20px;
    margin-left:20px;
 }

 .circleaccess-navbar-header img{
    padding-left:56px;
    height:36px;
    padding-top:12px
 }

  
 .circleaccess-copied{
    display: none; 
    font-size: 7px;
    position: absolute;
    padding-top: 4px;
    padding-left: 3px;
    color: green;
}
  
 .circleaccess-nav-link:hover{
    color: rgb(161, 160, 160);

 }

 .circleaccess-domains-input{
     min-width: 356px!important;

 }

 .circleacces-input-text{
    width:40em!important;
    min-height:39px!important;
 }

.circleaccess-select{
    min-height:39px!important;   
}
 
.circleaccess-icon-login-btn{
    border: none;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width: 22px;
    margin-left: 37px!important;
}
  
.tagify {
   box-shadow: 0 0 0 transparent;
   border-radius: 4px;
   border: 1px solid black!important;
   background-color: #fff;
}

.circleaccess-icon-delete{
    height: 18px!important;
    cursor: pointer;
}
   
 .circleaccess-description {
   font-size: 12px!important;
}
 
.login .error{
    border-left-color:#d63638
} 
 
.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}
.toggle{position:relative;overflow:hidden}
.toggle input[type=checkbox]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{min-width:59px;min-height:34px}
.toggle-on.btn{padding-right:24px}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}
